/* *{
  margin: 0;
  padding: 0;
} */

 /* header */
 .logo{
  background-image: url(/src/assets/Images/server3.jpeg);
  -webkit-text-fill-color: transparent;
  background-clip: text;
 }

/* herosection */
/* .heroSec{
  background-image: url(/src/assets/Images/server.jpg);

} */
/* @keyframes hero{
  0%{
    background-image: url(/src/assets/Images/univers2.jpg);
    background-size: cover;
  }
  50%{
    background-image: url(/src/assets/Images/technology2.jpg);
    background-size: cover;
    
  }
  100%{

    background-image: url(/src/assets/Images/waterDrop2.jpg);
    background-size: cover;

  }
} */

 /* skill.jsx */
.skill_list{
  font-style: italic;
}